<header>
  <nav>
    <div>
      <div>
        <ul>
          <li>
            <a [routerLink]="['./']"
               aria-label="Bouton vers la page accueil"
               class="nav-logo">
              <img src="assets/img/easygarden.png"
                   alt="Logo EasyGarden"
                   width=50 height=50
                   matTooltip="Lien accueil"
                   matTooltipPosition="above"
                   matTooltipShowDelay="500"
                   matTooltipClass="'mat-tooltip'">
            </a>
          </li>
          <li [routerLinkActive]="['active-link']"
              class="border-bottom">
            <a [routerLink]="['watering']"
               aria-label="Bouton vers la page arrosage">Arrosage
            </a>
          </li>
          <li [routerLinkActive]="['active-link']"
              class="border-bottom">
            <a [routerLink]="['lightning']"
               aria-label="Bouton vers la page éclairage">Eclairage
            </a>
          </li>
          <li [routerLinkActive]="['active-link']"
              class="border-bottom">
            <a [routerLink]="['pool']"
               aria-label="Bouton vers la page bassin">Bassin
            </a>
          </li>
          <li [routerLinkActive]="['active-link']"
              class="border-bottom">
            <a [routerLink]="['lawnmower']"
               aria-label="Bouton vers la page tondeuse">Tondeuse
            </a>
          </li>
          <li [routerLinkActive]="['active-link']"
              class="border-bottom">
            <a [routerLink]="['portal']"
               aria-label="Bouton vers la page portail">Portail
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li [routerLinkActive]="['active-link']"
              class="border-bottom">
            <a [routerLink]="['profil']"
               aria-label="Bouton vers la page de compte utilisateur">Profil
            </a>
          </li>
          <li>
            <button type="button"
                    (click)="logOut()"
                    aria-label="Bouton de déconnexion"
                    class="button-shadow">Déconnexion
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>