/*------Navbar------*/
nav {
  position: relative;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: var(--bg-color);
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      .nav-logo {
        margin: 0rem 1rem;
        cursor: pointer;
        &:hover {
          -webkit-animation: spin 3.5s linear 0s infinite reverse;
          animation: spin 3.5s linear 0s infinite reverse;
        }
      }
      .active-link > a {
        color: var(--ang-color-green);
        -webkit-box-shadow: inset 0px -1px 0px 0px var(--ang-color-green); 
        box-shadow: inset 0px -1px 0px 0px var(--ang-color-green);
      }
      li {
        &:hover {
          margin-bottom: 1vh;
        }
        a {
          font-family: var(--ang-font-body-text);
          font-weight: var(--ang-body-font-weight-regular);
          text-decoration: none;
          color: var(--ang-color-grey);
          margin: 20px 0px 20px 0px;
          padding: 0.5rem 1rem;
          &:hover {
            color: var(--ang-color-green);
          }
        }        
      }
      button {
        margin: 1rem 1rem;
      }
    }
  }
}