<div class="div-wrapper table-wrapper"
     (click)="clearInput()">

  <div class="animate__animated animate__jackInTheBox">
    <h1>{{title}}</h1>
    <div class="iconContainer">
      <div class="circle"></div>
      <fa-icon [icon]="faDoorOpen" class="iconCategory"></fa-icon>
    </div>

    <div *ngIf="portals.length > 5">
      <div class="divSearch">
        <div class="inputSearch">
          <label class="visually-hidden" for="name">Barre de recherche</label>
          <input id="inputSearch"
                 type="text"
                 [(ngModel)]="searchInput.name"
                 autocomplete="off"
                 placeholder="Rechercher...">
          <fa-icon [icon]="faSearch" class="icon"></fa-icon>
        </div>
      </div>
    </div>

    <div class="table form-border form-shadow">
      <table class="t-hover">
  
        <thead>             
          <tr>
            <th (click)="sort('status')" class="power order">On/Off 
              <fa-icon [icon]="faSort"></fa-icon>
            </th>
            <th (click)="sort('name')" class="order">Nom 
              <fa-icon [icon]="faSort"></fa-icon>
            </th>
            <th (click)="sort('presenceSensor')" class="order">Obstacle 
              <fa-icon [icon]="faSort"></fa-icon>
            </th>
            <th>Action</th>                   
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let portal of portals  
              | orderBy: orderHeader: isDescOrder
              | filterBy: searchInput
              | paginate: { itemsPerPage: 5, currentPage: p }">
            <td class="power">
              <button type="submit" 
                      aria-label="On"
                      *ngIf="portal.status === true"
                      (click)="updateStatus(portal.id, portal.status)">
                <fa-icon [icon]="faPowerOff"></fa-icon>
              </button>
              <button type="submit" class="btn-off" 
                      aria-label="Off"
                      *ngIf="portal.status === false"
                      (click)="updateStatus(portal.id, portal.status)">
                <fa-icon [icon]="faPowerOff"></fa-icon>
              </button>
            </td>
            <td>{{ portal.name }}</td>
            <td *ngIf="portal.status === true" [ngClass]="portal.presenceSensor ? 'alert' : ''">{{ portal.presenceSensor | presenceSensor }}</td>
            <td *ngIf="portal.status === false">-</td>
            <td>
              <button type="button"
                      aria-label="Modifier"
                      matTooltip="Modifier"
                      matTooltipPosition="before"
                      matTooltipShowDelay="500"
                      routerLink="/easygarden/portal/edit/{{portal.id}}">
                <fa-icon [icon]="faPen"></fa-icon>
              </button>
              <button type="submit" class="trash"
                      aria-label="Supprimer"
                      matTooltip="Supprimer"
                      matTooltipPosition="after"
                      matTooltipShowDelay="500"
                      (click)="confirmDialog(portal.id, portal.name)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
        
      </table>
      <div *ngIf="portals.length > 5">
        <div class="no-search-match" *ngIf="(portals | filterBy: searchInput).length === 0">
          Aucune correspondance trouvée..
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <pagination-controls (pageChange)="p = $event" 
                         previousLabel="" 
                         nextLabel=""
                         [autoHide]="true"
                         [responsive]="true"
                         aria-label="Pagination">
    </pagination-controls>
  </div>

  <div class="submit">
    <button type="button" 
            id="submit" 
            class="button-shadow"
            routerLink="/easygarden/portal/add">Ajouter
    </button>
  </div>
</div>
