<main>
  <div class="div-wrapper ambiance-bg">
    <div>
      <img src="assets/img/easygarden.png"
           width=150 
           height=150
           alt="logo de EasyGarden">
    </div>
    <h1 class="form-title title-form-shadow">{{name}}</h1>
    <h2 class="visually-hidden">{{title}}</h2>

    <div class="form-content form-border form-shadow animate__animated animate__fadeInDown">
      <app-close-form-button></app-close-form-button>
      <div class="form-title-content">
        <p class="p-form-title-content">MODIFIER</p>
      </div>

      <form [formGroup]="editGardenForm" 
            #ngForm="ngForm"
            #formDirective="ngForm"
            (ngSubmit)="onSubmit()"
            aria-label="Formulaire de saisie utilisateur">
        <label class="visually-hidden" for="name">Nom</label>
        <input formControlName="name"
               name="name"
               inputTrim
               inputFocus
               id="name"
               type="text"
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['name'].errors }"
               value={{value}}>
        <ng-container *ngIf="ngForm.submitted && f['name'].errors">
          <ng-container class="text-alert" 
                        *ngIf="f['name'].errors['required']">Veuillez saisir un nom!
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['name'].errors['minlength']">Le nom doit contenir au minimum 3 caractères.
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['name'].errors['maxlength']">Le nom doit contenir au maximum 20 caractères.
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['name'].errors['validEquipmentName']">Le nom ne peut contenir de caractères spéciaux!
          </ng-container>
        </ng-container>
        <div class="div-form-button">
          <button type="submit"
                  class="button-shadow"
                  aria-label="Bouton modifier le nom d'un jardin">Modifier
          </button>
          <button (click)="onReset(formDirective)"
                  type="button"
                  aria-label="Bouton effacer le formulaire" 
                  class="button-shadow cancel">Annuler
          </button>
        </div>
      </form>

    </div>
  </div>
</main>