<footer>
  <div class="container-custom">
    <div class="border-custom">
      <ul>
        <li>
          <a href='https://www.linkedin.com/in/emmanuel-l-06350b167/' target="new"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li>
          <a href='https://github.com/EmmanuelLefevre' target="new"><fa-icon [icon]="faGithub"></fa-icon></a>
        </li>
        <li>
          <a href='' target="new"><fa-icon [icon]="faEnvelope"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
  <a>©2022 <a class="owner">LEFEVRE Emmanuel</a> - All rights reserved.</a>
</footer>
