footer {
  width: 100%;
  height: 10vh;
  background-color: var(--bg-color);
  text-align: center;
  color: var(--ang-color-grey);
  .owner {
    color: var(--ang-color-green);
    font-size: 16px;
  }
  div .border-custom {
    margin-top: 1vh;
    li {
      display: inline;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      font-size:25px;
      fa-icon {
        color: var(--ang-color-green);
        &:hover {
        color: var(--ang-color-grey);
        }
      }
    }
  }
}