<div class="div-wrapper table-wrapper">
  <h2 class="form-title title-form-shadow">{{title}}</h2>
  <div class="form-content form-border form-shadow animate__animated animate__fadeInDown">
    <div class="div-button-close">
      <button type="button" 
              (click)="goBack()" 
              class="button-circle button-shadow">
        <fa-icon [icon]="faCircleXmark"></fa-icon>
      </button>
    </div>
    <div class="form-title-content">
      <p class="p-form-title-content">AJOUTER</p>
    </div>
    <form [formGroup]="addLawnmowerForm" 
          #ngForm="ngForm"
          (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill"
                      class="input-inset-shadow"
                      [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['name'].errors }">
        <mat-label>Jardin</mat-label>
        <mat-select formControlName="garden">
          <mat-option *ngFor="let garden of gardens" [value]="garden">
            {{ garden.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="ngForm.submitted && f['garden'].errors">
        <div class="text-alert" *ngIf="f['garden'].errors['required']">Veuillez sélectionner un jardin!</div>
      </div>
      <label class="visually-hidden" for="name">Name</label>
      <input formControlName="name"
              name="name"
              id="name"
              type="text"      
              placeholder="Nom"
              class="input-inset-shadow"
              [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['name'].errors }">
      <div *ngIf="ngForm.submitted && f['name'].errors">
        <div class="text-alert" *ngIf="f['name'].errors['required']">Veuillez saisir un nom!</div>
        <div class="text-alert" *ngIf="f['name'].errors['minlength']">
          Le nom doit contenir au minimum 3 caractères.
        </div>
        <div class="text-alert" *ngIf="f['name'].errors['maxlength']">
          Le nom doit contenir au maximum 20 caractères.
        </div>
        <div class="text-alert" *ngIf="f['name'].errors['validEquipmentName']">
          Le nom ne peut contenir de caractères spéciaux!
        </div>
      </div>
      <div class="div-form-button">
        <button type="submit"
                class="button-shadow">Ajouter
        </button>
        <button type="button" 
                (click)="onReset()" 
                class="button-shadow cancel">Annuler
        </button>
      </div>
    </form>
  </div>
</div>