<div class="div-wrapper ambiance-bg" 
     id="forgotten-password-component">
  <div class="logo-h1">
    <app-easygarden-logo></app-easygarden-logo>
    <h1 class="form-title title-form-shadow">{{name}}</h1>
    <h2 class="visually-hidden">Formulaire de mot de passe oublié</h2>
  </div>
  
  <div class="animate__animated animate__fadeInDown div-wrapper">
    <div class="form-content form-border form-shadow">
      <app-close-form-button></app-close-form-button>
      <div class="form-title-content">
        <p class="p-form-title-content">Mot de passe oublié</p>
      </div>

      <form [formGroup]="form" 
            #ngForm="ngForm"
            #formDirective="ngForm"
            (ngSubmit)="onSubmit()"
            aria-label="Formulaire de saisie utilisateur">
        <label class="visually-hidden" for="name">Email</label>
        <input formControlName="email" 
               name="email"
               inputFocus
               inputTrim
               type="email"
               placeholder="Email"
               spellcheck="false"
               id="emailInput"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': (form.get('email')?.invalid 
                                                && form.get('email')?.dirty )
                                                || invalidEmail
                                                || noExistingEmail}">
        <ng-container *ngIf="form.get('email')?.dirty 
                            && getErrorMessage('email') !== ''">
          <div class="text-alert">
            {{ getErrorMessage('email') }}
          </div>
        </ng-container>
        <ng-container *ngIf="ngForm.submitted && noExistingEmailErrorMessage">
          <div class="text-alert">
            {{ noExistingEmailErrorMessage }}
          </div>
        </ng-container>
        <div class="div-form-button">
          <button type="submit" 
                  aria-label="Bouton se connecter"
                  class="button-shadow"
                  [ngClass]="{'disabled-submit-button': submitDisabled}"
                  [disabled]="submitDisabled">Envoyer
          </button>
          <button (click)="onReset(formDirective)"
                  id="reset-button"
                  type="button"
                  aria-label="Bouton effacer le formulaire" 
                  class="button-shadow cancel"
                  [ngClass]="{'disabled-reset-button': resetDisabled}"
                  [disabled]="resetDisabled">Annuler
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

