.div-button-close {
  position: absolute;
  top: -1.5rem;
  right: 1rem;
  z-index: 2;
  .button-circle {
    font-size: 3rem;
    color: var(--ang-color-white);
    border: 2px solid var(--ang-color-green);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    &:hover {
      color: var(--ang-color-white);
      background: rgba(253, 4, 4, 0.9);
      border: 2px solid rgba(253, 4, 4, 0.9);
      -webkit-animation: bounce 2.5s infinite;
      animation: bounce 2.5s infinite;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
    fa-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}