<main>
  <div class="div-wrapper ambiance-bg">
    <div>
      <img src="assets/img/easygarden.png"
           width=150 
           height=150
           alt="logo de EasyGarden">
    </div>
    <h1 class="form-title title-form-shadow">{{name}}</h1>

    <div class="form-content form-border form-shadow animate__animated animate__fadeInDown">
      <app-close-form-button></app-close-form-button>
      <div class="form-title-content">
        <p class="p-form-title-content">AJOUTER</p>
      </div>

      <form [formGroup]="addForm"
            (ngSubmit)="onSubmit()"
            #ngForm="ngForm"
            #formDirective="ngForm"
            aria-label="Formulaire de saisie utilisateur">
        <ng-container *ngIf="!currentUrl.includes('easygarden/garden/add')">
          <mat-form-field appearance="fill"
                          class="input-inset-shadow"
                          [ngClass]="{ 'invalid-feedback': ngForm.submitted && (f['name'].errors || ngForm.invalid) }">
            <mat-label>Jardin</mat-label>
            <mat-select formControlName="garden">
              <mat-option *ngFor="let garden of gardens" [value]="garden">
                {{ garden.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngIf="ngForm.submitted && f['garden'].errors">
            <div class="text-alert" 
                 *ngIf="f['garden'].errors['required']">Veuillez sélectionner un jardin!
            </div>
          </ng-container>
        </ng-container>
        <label class="visually-hidden" for="name">Name</label>
        <input formControlName="name"
               name="name"
               inputTrim
               inputFocus
               inputTitleCase
               id="name"
               type="text"
               placeholder="Nom"
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && (f['name'].errors || ngForm.invalid) }">
        <ng-container *ngIf="ngForm.submitted && (f['name'].errors || ngForm.invalid)">
          <div class="text-alert" 
               *ngIf="ngForm.invalid">Le formulaire est invalide!
          </div>
          <div class="text-alert" 
               *ngIf="f['name'].errors && f['name'].errors['required']">Veuillez saisir un nom!
          </div>
          <div class="text-alert" 
               *ngIf="f['name'].errors && f['name'].errors['minlength']">Le nom doit contenir au minimum 3 caractères.
          </div>
          <div class="text-alert" 
               *ngIf="f['name'].errors && f['name'].errors['maxlength']">Le nom doit contenir au maximum 20 caractères.
          </div>
          <div class="text-alert"
               *ngIf="f['name'].errors && f['name'].errors['validEquipmentName']">Le nom ne peut contenir de caractères spéciaux!
          </div>
        </ng-container>
        <div class="div-form-button">
          <button type="submit"
                  class="button-shadow"
                  aria-label="Bouton ajouter un arrosage">Ajouter
          </button>
          <button (click)="onReset(formDirective)"
                  type="button"
                  aria-label="Bouton effacer le formulaire" 
                  class="button-shadow cancel">Annuler
          </button>
        </div>
      </form>

    </div>
  </div>
</main>
