<main class="div-account-verified">
  <h1 class="animate__animated animate__bounceIn">Votre compte a bien été activé!</h1>
  <div class="img-account-verified">
    <img src="../../../../assets/img/KuangSi.jpg" alt="Image">
  </div>
  <div class="div-timer">
    <p>Merci d'avoir rejoint la communauté de <span class="color"><a href="http://localhost:4200/">Easygarden</a></span>, vous pouvez à présent vous connecter à l'application.</p>
    <p>Cette page se fermera dans <span class="color">{{ time }}</span>s.</p>
  </div>
  <div>
    <button (click)="close()">Fermer</button>
  </div>
</main>
