@media all and (max-width: 820px) {

  #homePage {
    grid-template-rows: 0.2fr 0.2fr 0.6fr !important;
    .connexion {
      display: flex !important;
      justify-content: end;
      margin-top: 0;
      .icon {
        margin: 0 2vh 4vh 0;
      }
    }
    .logo {
      font-size: 5rem !important;
    }
    .resume {
      font-size: 13px;
      button {
        margin-top: 8vh !important;
      }
    }
  }

}