.div-404{
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  height: 87vh;
  padding: 4vh 4vh;
  .img-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../../../assets/img/404Image.png") no-repeat;
    width: 75vh;
    height: 35vh;
    margin-bottom: 4vh;
    span {
      font-family: "Charlotte Southern";
      -webkit-text-stroke: 1px var(--color-border);
      font-weight: 900;
      font-size: 6rem;
      color: var(--ang-color-green);
    }
  }
  .div-timer {
    margin: 3vh 0;
    text-align: center;
    p {
      padding: 0.5vh 0;
    }
    p > span.color {
      color: var(--ang-color-green);
      font-size: 2vh;
    }
  }
}
