<div class="div-wrapper animate__animated animate__fadeInDown">
  <div>
    <img width=150 height=150 src="assets/img/easygarden.png" alt="logo">
  </div>
  <h2 class="form-title title-form-shadow">{{title}}</h2>
  <div class="div-wrapper">
    <div class="form-content form-border form-shadow">
      <div class="div-button-close">
        <button type="button" 
                aria-label="Fermer"
                [routerLink]="['/']" 
                class="button-circle button-shadow">
          <fa-icon [icon]="faCircleXmark"></fa-icon>
        </button>
      </div>
      <div class="form-title-content">
        <p class="p-form-title-content">REGISTER</p>
      </div>
      <form [formGroup]="registerForm" 
            #ngForm="ngForm"
            (ngSubmit)="onSubmit()">
        <label class="visually-hidden" for="name">Email</label>
        <input formControlName="email" 
               name="email" 
               type="email" 
               placeholder="Email"
               spellcheck="false"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['email'].errors }">
        <div *ngIf="ngForm.submitted && f['email'].errors">
          <div class="text-alert" *ngIf="f['email'].errors['required']">Veuillez saisir un email!</div>
          <div class="text-alert" *ngIf="f['email'].errors['email']">Format d'email invalide!</div>
          <div class="text-alert" *ngIf="f['email'].errors['validEmail']">
          L'email doit contenir un "." + nom de domaine!
          </div>
        </div>
        <div class="div-password-icon">
          <label class="visually-hidden" for="name">Mot de passe</label>
          <input formControlName="password"
                 name="password" 
                 [type]=" visible ? 'text' : 'password' "
                 placeholder="Password"
                 spellcheck="false"
                 autocomplete="off"
                 class="input-inset-shadow"
                 [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['password'].errors }">
          <fa-icon [icon]="visible ? faEyeSlash : faEye" aria-hidden="true" (click)="toggle()"></fa-icon>
          <div *ngIf="ngForm.submitted && f['password'].errors">
              <div class="text-alert" *ngIf="f['password'].errors['required']">Veuillez saisir un mot de passe!</div>
              <div class="text-alert" *ngIf="f['password'].errors['minlength']">
              Le mot de passe doit contenir 8 caractères minimum.
              </div>
              <div class="text-alert" *ngIf="f['password'].errors['maxlength']">
              Le mot de passe ne peut excéder 40 caractères.
              </div>
              <div class="text-alert" *ngIf="f['password'].errors['strongPassword']">
              Le mot de passe doit contenir une majuscule, une minuscule, un nombre et un caractère spécial.
              </div>
          </div>
        </div>
        <div class="div-password-icon">
          <label class="visually-hidden" for="name">Confirmer mot de passe</label>
          <input formControlName="confirmPassword"
                 name="password" 
                 [type]=" visible ? 'text' : 'password' "
                 placeholder="Confirm Password"
                 spellcheck="false"
                 autocomplete="off"
                 class="input-inset-shadow"
                 [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['confirmPassword'].errors }">
          <fa-icon [icon]="visible ? faEyeSlash : faEye" aria-hidden="true" (click)="toggle()"></fa-icon>
          <div *ngIf="ngForm.submitted && f['confirmPassword'].errors">
            <div class="text-alert" *ngIf="f['confirmPassword'].errors['required']">Veuillez confirmer le mot de passe!</div>
            <div class="text-alert" *ngIf="f['confirmPassword'].errors['passwordMismatch']">
            Le mot de passe n'est pas identique!
            </div>
          </div>
        </div>
        <label class="visually-hidden" for="name">Nom</label>
        <input formControlName="lastName" 
               name="lastName" 
               type="text" 
               placeholder="Nom"
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['lastName'].errors }">
        <div *ngIf="ngForm.submitted && f['lastName'].errors">
          <div class="text-alert" *ngIf="f['lastName'].errors['required']">Nom requis!</div>
          <div class="text-alert" *ngIf="f['lastName'].errors['minlength']">
          Le nom doit contenir 3 caractères minimum.
          </div>
          <div class="text-alert" *ngIf="f['lastName'].errors['maxlength']">
          Le nom ne peut excéder 20 caractères.
          </div>
          <div class="text-alert" *ngIf="f['lastName'].errors['validName']">
          Le nom ne peut contenir que des lettres, seuls le tiret et l'espace sont acceptés!
          </div>
        </div>
        <label class="visually-hidden" for="name">Prénom</label>
        <input formControlName="firstName" 
               name="firstName" 
               type="text" 
               placeholder="Prénom"
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow" 
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['firstName'].errors }">
        <div *ngIf="ngForm.submitted && f['firstName'].errors">
          <div class="text-alert" *ngIf="f['firstName'].errors['required']">Prénom requis!</div>
          <div class="text-alert" *ngIf="f['firstName'].errors['minlength']">
          Le prénom doit contenir 3 caractères minimum.
          </div>
          <div class="text-alert" *ngIf="f['firstName'].errors['maxlength']">
          Le prénom ne peut excéder 20 caractères.
          </div>
          <div class="text-alert" *ngIf="f['firstName'].errors['validName']">
          Le prénom ne peut contenir que des lettres, seuls le tiret et l'espace sont acceptés!
          </div>
        </div>
        <label class="visually-hidden" for="name">Pseudonyme</label>
        <input formControlName="pseudo" 
               name="pseudo" 
               type="text" 
               placeholder="Pseudonyme" 
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['pseudo'].errors }">
        <div *ngIf="ngForm.submitted && f['pseudo'].errors">
          <div class="text-alert" *ngIf="f['pseudo'].errors['required']">Pseudo requis!</div>
          <div class="text-alert" *ngIf="f['pseudo'].errors['minlength']">
          Le pseudo doit contenir 3 caractères minimum.
          </div>
          <div class="text-alert" *ngIf="f['pseudo'].errors['maxlength']">
          Le pseudo ne peut excéder 10 caractères.
          </div>
          <div class="text-alert" *ngIf="f['pseudo'].errors['validPseudo']">
          Le pseudo ne peut contenir que des chiffres et lettres!
          </div>
        </div>
        <label class="visually-hidden" for="name">Téléphone</label>
        <input formControlName="phoneNumber" 
               name="phoneNumber" 
               type="tel" 
               placeholder="Téléphone"
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow" 
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['phoneNumber'].errors }">
        <div *ngIf="ngForm.submitted && f['phoneNumber'].errors">
          <div class="text-alert" *ngIf="f['phoneNumber'].errors['required']">Numéro de téléphone requis!</div>
          <div class="text-alert" *ngIf="f['phoneNumber'].errors['validPhoneNumber']">
          Format de numéro de téléphone invalide!
          </div>
        </div>
        <div class="div-form-button">
          <button type="submit"
                  class="button-shadow">S'inscrire
          </button>
          <button type="button" 
                  (click)="onReset()" 
                  class="button-shadow cancel">Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</div>