<div class="div-wrapper ambiance-bg"
     id="register-component">
  <div>
    <img width=150 height=150 src="assets/img/easygarden.png" 
         alt="Logo de EasyGarden">
  </div>
  <h1 class="form-title title-form-shadow">{{name}}</h1>
  <h2 class="visually-hidden">Formulaire de création de compte utilisateur</h2>

  <div class=" animate__animated animate__fadeInDown div-wrapper">
    <div class="form-content form-border form-shadow">
      <app-close-form-button></app-close-form-button>
      <div class="form-title-content">
        <p class="p-form-title-content">S'enregistrer</p>
      </div>

      <form [formGroup]="registerForm" 
            #ngForm="ngForm"
            #formDirective="ngForm"
            (ngSubmit)="onSubmit()"         
            aria-label="Formulaire de saisie utilisateur">
        <label class="visually-hidden" for="name">Email</label>
        <input formControlName="email" 
               name="email"
               inputTrim 
               inputFocus
               type="email" 
               placeholder="Email"
               autocomplete="off"
               spellcheck="false"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['email'].errors }">
        <ng-container *ngIf="ngForm.submitted && f['email'].errors">
          <ng-container class="text-alert" 
                        *ngIf="f['email'].errors['required']">Veuillez saisir un email!
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['email'].errors['email']">Format d'email invalide!
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['email'].errors['validEmail']">L'email doit contenir un "." + nom de domaine!
          </ng-container>
        </ng-container>
        <div class="div-password-icon">
          <label class="visually-hidden" for="name">Mot de passe</label>
          <input formControlName="password"
                 name="password" 
                 inputTrim
                 [type]=" visible ? 'text' : 'password' "
                 placeholder="Password"
                 spellcheck="false"
                 autocomplete="off"
                 class="input-inset-shadow"
                 [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['password'].errors }">
          <fa-icon [icon]="visible ? faEyeSlash : faEye" aria-hidden="true" (click)="toggle()"></fa-icon>
          <ng-container *ngIf="ngForm.submitted && f['password'].errors">
            <ng-container class="text-alert" 
                          *ngIf="f['password'].errors['required']">Veuillez saisir un mot de passe!
            </ng-container>
            <ng-container class="text-alert" 
                          *ngIf="f['password'].errors['minlength']">Le mot de passe doit contenir 8 caractères minimum.
            </ng-container>
            <ng-container class="text-alert" 
                          *ngIf="f['password'].errors['maxlength']">Le mot de passe ne peut excéder 40 caractères.
            </ng-container>
            <ng-container class="text-alert" 
                          *ngIf="f['password'].errors['strongPassword']">
              Le mot de passe doit contenir une majuscule, une minuscule, un nombre et un caractère spécial.
            </ng-container>
          </ng-container>
        </div>
        <div class="div-password-icon">
          <label class="visually-hidden" for="name">Confirmer mot de passe</label>
          <input formControlName="confirmPassword"
                 name="password"
                 inputTrim 
                 [type]=" visible ? 'text' : 'password' "
                 placeholder="Confirm Password"
                 spellcheck="false"
                 autocomplete="off"
                 class="input-inset-shadow"
                 [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['confirmPassword'].errors }">
          <fa-icon [icon]="visible ? faEyeSlash : faEye" aria-hidden="true" (click)="toggle()"></fa-icon>
          <ng-container *ngIf="ngForm.submitted && f['confirmPassword'].errors">
            <ng-container class="text-alert" 
                          *ngIf="f['confirmPassword'].errors['required']">Veuillez confirmer le mot de passe!
            </ng-container>
            <ng-container class="text-alert" 
                          *ngIf="f['confirmPassword'].errors['passwordMismatch']">Le mot de passe n'est pas identique!
            </ng-container>
          </ng-container>
        </div>
        <label class="visually-hidden" for="name">Nom</label>
        <input formControlName="lastName" 
               name="lastName"
               inputTrim
               inputUppercase
               type="text" 
               placeholder="Nom"
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['lastName'].errors }">
        <ng-container *ngIf="ngForm.submitted && f['lastName'].errors">
          <ng-container class="text-alert" 
                        *ngIf="f['lastName'].errors['required']">Nom requis!
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['lastName'].errors['minlength']">Le nom doit contenir 3 caractères minimum.
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['lastName'].errors['maxlength']">Le nom ne peut excéder 20 caractères.
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['lastName'].errors['validName']">
            Le nom ne peut contenir que des lettres, seuls le tiret et l'espace sont acceptés!
          </ng-container>
        </ng-container>
        <label class="visually-hidden" for="name">Prénom</label>
        <input formControlName="firstName" 
               name="firstName"
               inputTrim
               inputFirstLetterWordsUppercase
               type="text" 
               placeholder="Prénom"
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow" 
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['firstName'].errors }">
        <ng-container *ngIf="ngForm.submitted && f['firstName'].errors">
          <ng-container class="text-alert" 
                        *ngIf="f['firstName'].errors['required']">Prénom requis!
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['firstName'].errors['minlength']">Le prénom doit contenir 3 caractères minimum.
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['firstName'].errors['maxlength']">Le prénom ne peut excéder 20 caractères.
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['firstName'].errors['validName']">
            Le prénom ne peut contenir que des lettres, seuls le tiret et l'espace sont acceptés!
          </ng-container>
        </ng-container>
        <label class="visually-hidden" for="name">Pseudonyme</label>
        <input formControlName="pseudo" 
               name="pseudo" 
               inputTrim
               inputFirstLetterWordsUppercase
               type="text" 
               placeholder="Pseudonyme" 
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['pseudo'].errors }">
        <ng-container *ngIf="ngForm.submitted && f['pseudo'].errors">
          <ng-container class="text-alert" 
                        *ngIf="f['pseudo'].errors['required']">Pseudo requis!
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['pseudo'].errors['minlength']">Le pseudo doit contenir 3 caractères minimum.
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['pseudo'].errors['maxlength']">Le pseudo ne peut excéder 10 caractères.
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['pseudo'].errors['validPseudo']">Le pseudo ne peut contenir que des chiffres et lettres!
          </ng-container>
        </ng-container>
        <label class="visually-hidden" for="name">Téléphone</label>
        <input formControlName="phoneNumber" 
               name="phoneNumber" 
               inputTrim
               type="tel" 
               placeholder="Téléphone"
               spellcheck="false"
               autocomplete="off"
               class="input-inset-shadow" 
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['phoneNumber'].errors }">
        <ng-container *ngIf="ngForm.submitted && f['phoneNumber'].errors">
          <ng-container class="text-alert" 
                        *ngIf="f['phoneNumber'].errors['required']">Numéro de téléphone requis!
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['phoneNumber'].errors['validPhoneNumber']">Format de numéro de téléphone invalide!
          </ng-container>
        </ng-container>
        <div class="div-form-button">
          <button type="submit"
                  aria-label="Bouton s'inscrire'"
                  class="button-shadow">S'inscrire
          </button>
          <button (click)="onReset(formDirective)"
                  type="button"
                  aria-label="Bouton effacer le formulaire" 
                  class="button-shadow cancel">Annuler
          </button>
        </div>
      </form>

    </div>
  </div>
</div>