div {
  div.iconContainer {
    display: flex;
    justify-content: center;
    margin: 2.5vh 0 2vh 0;
    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8vh;
      height: 8vh;
      border: solid 3px transparent;
      border-radius: 50%;
      -webkit-animation: iconCategorySpin 12s linear infinite;
      animation: iconCategorySpin 12s linear infinite;
      background-image: linear-gradient(white, white), repeating-conic-gradient(#95cb11 0%,#e2ff93 15%,#95cb11 33%);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
    fa-icon {
      position: absolute;
      margin-top: 8px;
      font-size: 4vh;
      color: var(--ang-color-green);
    }
  }
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 38px;
    .filter-select-garden {
      width: 100px;
      color: var(--ang-color-green);
      background-color: var(--ang-color-white);
      border: 2px solid var(--ang-color-green);
      border-radius: 5px;
      margin: 0 2px 6px 0;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &:hover {
        color: var(--ang-color-white);
        background-color: var(--ang-color-green);
        border: 2px solid var(--color-border);
      }
      &:focus {
        outline: none;
        border-color: var(--color-border);
      }
    }
    .divSearch {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      .inputSearch {
        display: flex;
        position: relative;
        fa-icon {
          flex: 2;
          position: absolute;
          margin: 5px 0 0 8px;
          color: var(--ang-color-green);
        }
        .icon-right {
          position: absolute;
          font-size: 2vh;
          margin: 2px 0 0 175px;
          &:hover {
            color: var(--ang-color-alert);
            cursor: pointer;
          }
        }
        input[type=text],
        input[type=search] {
          width: 200px;
          margin: 0 2px 6px 0;
          padding: 6px 0;
          padding-left: 30px;
          text-align: left;
          font-size: 15px;
          color: var(--ang-color-green);
          background-color: var(--ang-color-white);
          &::placeholder {
            color: var(--ang-color-green);
          }
        }
        input[type=text]:focus,
        input[type=search]:focus {
          border-bottom: 2px solid var(--ang-color-green);
        }
        input[type=search]::-webkit-search-cancel-button {
          appearance: none;
        }  
      }
    }
  }
  .table {
    margin: 0 0 1vh 0;
    padding: 1vh;
    table {
      border-collapse: collapse;
      thead {
        th {
          font-family: var(--ang-font-serif-text);
          font-weight: var(--ang-serif-font-weight-regular);
          font-size: 1.1rem;
          color: var(--ang-color-white);
          background-color: var(--ang-color-green);
          border: 2px solid var(--ang-color-white);
          height: 6vh;
          fa-icon {
            margin-left: 0.5vh;
            color: var(--ang-color-white);
          }
        }
        th.order {
          &:hover {
            color: var(--ang-color-title-form-shadow);
            cursor: pointer;
            fa-icon {
              color: var(--ang-color-title-form-shadow);
            }
          }
        }
      }
      tbody {
        font-family: var(--ang-font-body-text);
        font-weight: var(--ang-body-font-weight-thin);
        font-size: 14px;
        &:hover {
          background-color: var(--ang-color-table-hover);
        }
        tr:nth-child(odd) {
          background-color: #e0e2e5;
        }
        tr:nth-child(even){
          color: #666666;
          background-color: #f7f7f7;
        }
        td {
          border: 2px solid var(--ang-color-white);
          height: 5vh;
          button {
            background-color: var(--ang-color-border-button);
            border: 2px solid var(--ang-color-green);
            margin: 0 0.8rem;
            padding: 0.3rem 0.7rem;
            &:hover {
              background-color: var(--ang-color-white);
            }
            fa-icon {
              font-size: 1.2rem;
              color: var(--ang-color-grey);
            }
          }
          button:hover fa-icon {
            color: var(--ang-color-green)
          }
          button.trash {
            &:hover {
              border-color: var(--ang-color-alert);
            }
          }
          button.trash:hover fa-icon {
            color: var(--ang-color-alert)
          }
        }
      }
      th, td {
        width: 10rem;
        max-width: 15rem;
        text-align: center;
      }
    }
    table.t-hover tr:hover {
      background-color: var(--ang-color-table-hover);
    }
    table>thead>tr>th.power,
    table>tbody>tr>td.power {
      width: 7rem;
      button {
        border-radius: 50%;
        &:hover {
          background-color: rgba(255, 0, 0, 1);
          border-color: rgba(255, 0, 0, 1);
          -webkit-animation: pulse-red 3s infinite;
          animation: pulse-red 3s infinite;
        }
        fa-icon {
          color: var(--ang-color-grey);
        }
      }
      button.btn-off {
        background-color: rgba(193, 193, 193, 0.5);
        border-color: rgb(251, 200, 0);
        &:hover {
          background-color: var(--ang-color-border-button);
          border-color: var(--ang-color-green);
          -webkit-animation: pulse-green 3s infinite;
          animation: pulse-green 3s infinite;
        }
      }
      button:hover fa-icon {
        color: var(--color-text);
      }
    }
    table>tbody>tr>td.alert {
      color: var(--ang-color-alert);
      box-shadow: inset 0 0px 6px 2px var(--ang-color-alert);
      -webkit-box-shadow: inset 0 0px 10px 2px var(--ang-color-alert);
      background-color: #f7f7f7;
    }
  }
  .no-search-match {
    color: var(--ang-color-grey);
    background-color: var(--ang-color-white);
    padding-left: 1em;
  }
  div.submit {
    display: flex;
    justify-content: center;
    button {
      font-size: 1.1rem;
      width: 7rem;
      margin: 1rem 0 1rem 0;
    }
  }
  div.pagination {
    margin-top: 0.5vh;
    pagination-controls {
      nav {
        padding: 0.3vh 0.2vh;
        ul {
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          padding: 0.5vh;
          border: 2px solid var(--ang-color-green);
          border-radius: 5px;
          li {
            font-size: 14px;
            margin: 0 2px;
            a {
              &:hover {
                color: var(--ang-color-white);
                background-color: var(--ang-color-green);
                border-radius: 6px;
              }
            }
          }
        } 
      }
    }
    pagination-controls .current {
      background-color: var(--ang-color-green);
      border-radius: 6px;
    }
  }
}