<main aria-label="Contenu principal de la page"
      searchInputReset
      [searchInput]="searchInput">
  <div class="div-wrapper ambiance-bg">
  
    <div class="animate__animated animate__jackInTheBox">
      <h1 class="visually-hidden">{{name}}</h1>
      <h2 class="visually-hidden">{{title}}</h2>
      <div class="icon-container">
        <div class="circle"></div>
        <fa-icon [icon]="faDoorOpen" 
                 aria-label="Icône d'illustration de la page représentant un portail">
        </fa-icon>
      </div>
  
      <div class="table-header">
        <ng-container *ngIf="gardens.length > 1">
          <select [(ngModel)]="selectedGardenId"
                  (change)="filterByGarden()"
                  class="filter-select-garden"
                  removeNgTouched>
            <option value="">Jardins</option>
            <option *ngFor="let garden of gardens" [value]="garden.id">{{ garden.name }}</option>
          </select>
        </ng-container>
        <ng-container *ngIf="portals.length > 5">
          <div class="search-div">
            <div class="search-input">
              <label class="visually-hidden" for="name">Barre de recherche</label>
              <input id="search-input"
                     type="search"
                     aria-label="Champ de saisie afin de rechercher dans le tableau"
                     [(ngModel)]="searchInput.name"
                     (input)="filterByGarden()"
                     autocomplete="off"
                     spellcheck="false"
                     placeholder="Rechercher...">
              <fa-icon [icon]="faSearch"></fa-icon>
              <fa-icon [icon]="faXmark" 
                        class="icon-right" 
                        *ngIf="searchInput.name"
                        (click)="searchInput.name=''"
                        aria-label="Fermer">
              </fa-icon>
            </div>
          </div>
        </ng-container>
      </div>
  
      <div class="table form-border form-shadow">
        <table class="t-hover" aria-label="Tableau des portails">
    
          <thead>             
            <tr>
              <th (click)="sort('status')"
                  class="power order"
                  aria-label="Trier par statut">On/Off 
                <fa-icon [icon]="faSort"></fa-icon>
              </th>
              <th (click)="sort('name')"
                  class="order"
                  aria-label="Trier par nom">Nom 
                <fa-icon [icon]="faSort"></fa-icon>
              </th>
              <th (click)="sort('presenceSensor')"
                  class="power order"
                  aria-label="Trier par capteur">Obstacle
                <fa-icon [icon]="faSort"></fa-icon>
              </th>
              <th>Action</th>                   
            </tr>
          </thead>
    
          <tbody>
            <tr *ngFor="let portal of filteredPortals  
                | orderBy: orderHeader: isDescOrder
                | filterBy: searchInput
                | paginate: { itemsPerPage: 5, currentPage: p, totalItems: count }">
              <td class="power">
                <button (click)="updateStatus(portal.id, portal.status)"
                        type="submit" 
                        [attr.aria-label]="portal.status ? 'Fermer le portail' : 'Ouvrir le portail'"
                        [matTooltip]="portal.status ? 'Fermer' : 'Ouvrir'"
                        matTooltipPosition="left"
                        matTooltipShowDelay="1000"
                        matTooltipClass="'mat-tooltip'"
                        [class.btn-off]="!portal.status">
                  <fa-icon [icon]="faPowerOff"></fa-icon>
                </button>
              </td>
              <td>{{ portal.name }}</td>
              <td *ngIf="portal.status === true" [ngClass]="portal.presenceSensor ? 'alert' : ''">{{ portal.presenceSensor | presenceSensor }}</td>
              <td *ngIf="portal.status === false">-</td>
              <td>
                <button routerLink="/easygarden/portal/edit/{{portal.id}}"
                        type="button"
                        aria-label="Bouton permettant de modifier le nom du portail"
                        matTooltip="Modifier"
                        matTooltipPosition="before"
                        matTooltipShowDelay="500"
                        matTooltipClass="'mat-tooltip'">
                  <fa-icon [icon]="faPen"></fa-icon>
                </button>
                <button (click)="confirmDialog(portal.id, portal.name)"
                        type="submit"
                        aria-label="Bouton permettant de supprimer le portail"
                        matTooltip="Supprimer"
                        matTooltipPosition="after"
                        matTooltipShowDelay="500"
                        matTooltipClass="'mat-tooltip'"
                        class="trash">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
          
        </table>
        <ng-container *ngIf="portals.length > 5">
          <ng-container class="no-search-match" 
                        *ngIf="(portals | filterBy: searchInput).length === 0">
            Aucune correspondance trouvée..
          </ng-container>
        </ng-container>
      </div>
    </div>
  
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event" 
                           previousLabel="" 
                           nextLabel=""
                           [autoHide]="true"
                           [responsive]="true"
                           aria-label="Pagination">
      </pagination-controls>
    </div>
  
    <div class="submit">
      <button routerLink="/easygarden/portal/add"
              type="button" 
              id="submit" 
              class="button-shadow">Ajouter
      </button>
    </div>
  </div>
</main>
