/*------Connexion Screen------*/
#login-component {
  height: 90vh;
  padding: 2vh 0vh;
  .forgotten-password {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3vh;
    margin-top: 10px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--ang-color-green);
      text-decoration: none;
      width: 50%;
      height: 100%;
      &:visited {
        color: var(--ang-color-green);
      }
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
        cursor: pointer;
      }
    }
  }
}