<div class="div-wrapper ambiance-bg" 
     id="login-component">
  <div>
    <img width=150 height=150 src="assets/img/easygarden.png" 
         alt="Logo de EasyGarden">
  </div>
  <h1 class="form-title title-form-shadow">{{name}}</h1>
  <h2 class="visually-hidden">Formulaire de connexion</h2>
  
  <div class="animate__animated animate__fadeInDown div-wrapper">
    <div class="form-content form-border form-shadow">
      <app-close-form-button></app-close-form-button>
      <div class="form-title-content">
        <p class="p-form-title-content">Connexion</p>
      </div>

      <form [formGroup]="loginForm" 
            #ngForm="ngForm"
            #formDirective="ngForm"
            (ngSubmit)="onSubmit()"
            aria-label="Formulaire de saisie utilisateur">
        <label class="visually-hidden" for="name">Email</label>
        <input formControlName="email" 
               name="email"
               inputTrim
               type="email"
               placeholder="Email"
               spellcheck="false"
               class="input-inset-shadow"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['email'].errors }">
        <ng-container *ngIf="ngForm.submitted && f['email'].errors">
          <ng-container class="text-alert" 
                        *ngIf="f['email'].errors['required']">Veuillez saisir un email!
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['email'].errors['email']">Format d'email invalide!
          </ng-container>
          <ng-container class="text-alert" 
                        *ngIf="f['email'].errors['validEmail']">L'email doit contenir un "." + nom de domaine!
          </ng-container>
        </ng-container>
        <div class="div-password-icon">
          <label class="visually-hidden" for="name">Mot de passe</label>
          <input formControlName="password"
                 name="password"
                 [type]=" visible ? 'text' : 'password' "
                 placeholder="Password"
                 spellcheck="false"
                 autocomplete="off"
                 class="input-inset-shadow"
                 [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['password'].errors }">
          <fa-icon [icon]="visible ? faEyeSlash : faEye" aria-hidden="true" (click)="toggle()"></fa-icon>
          <ng-container *ngIf="ngForm.submitted && f['password'].errors">
            <ng-container class="text-alert" 
                          *ngIf="f['password'].errors['required']">Veuillez saisir un mot de passe!
            </ng-container>
          </ng-container>
        </div>
        <div class="div-form-button">
          <button type="submit" 
                  aria-label="Bouton se connecter"
                  class="button-shadow">Connexion
          </button>
          <button (click)="onReset(formDirective)"
                  type="button"
                  aria-label="Bouton effacer le formulaire" 
                  class="button-shadow cancel">Annuler
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
