#homePage {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)), url("../../../../assets/img/KuangSi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.2fr 0.3fr 0.6fr; 
  grid-gap: 2rem 1rem;
  .connexion {
    grid-area: 1/4/2/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 3rem 1rem;
    .icon {
      grid-area: 1/2;
      margin-top: 2vh;
      .button-circle {
        font-size: 3rem;
        color: var(--ang-color-white);
        border: 2px solid var(--color-border);
        border-radius: 50%;
        margin: 0px;
        padding: 0px;
        &:hover {
          color: var(--ang-color-green);
          background: var(--ang-color-white);
        }
        fa-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      p {
        color: var(--ang-color-green);
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
      }
    }
  }
  .logo {
    grid-area: 2/1/3/5;
    margin: auto;
    font-family: "Charlotte Southern";
    -webkit-text-stroke: 1px var(--color-border);
    font-weight: 200;
    font-size: 10rem;
    color: var(--ang-color-green);
  }
  .resume {
    grid-area: 3/2/4/4;
    color: var(--ang-color-white);
    text-align: center;
    button {
      margin-top: 10vh;
    }
  }
}